In [1]:
import pandas as pd
import numpy as np

In [6]:
path = 'California_Fire_Incidents.xlsx'
fire = pd.read_excel(path)
columns = ['AcresBurned', 'AirTankers', 'AdminUnit', 'Counties', 'CountyIds', 'Engines', 'Latitude', 'Longitude', 'Started']

In [11]:
fire_df = fire[columns]
fire_df

,AcresBurned,AirTankers,AdminUnit,Counties,CountyIds,Engines,Latitude,Longitude,Started
0,257314.0,NaN,Stanislaus National Forest/Yosemite National Park,Tuolumne,55,NaN,37.857000,-120.086000,2013-08-17T15:25:00Z
1,30274.0,NaN,USFS Angeles National Forest/Los Angeles Count...,Los Angeles,19,NaN,34.585595,-118.423176,2013-05-30T15:28:00Z
2,27531.0,NaN,CAL FIRE Riverside Unit / San Bernardino Natio...,Riverside,33,NaN,33.709500,-116.728850,2013-07-15T13:43:00Z
3,27440.0,NaN,Tahoe National Forest,Placer,31,NaN,39.120000,-120.650000,2013-08-10T16:30:00Z
4,24251.0,NaN,Ventura County Fire/CAL FIRE,Ventura,56,117.0,0.000000,0.000000,2013-05-02T07:01:00Z
...,...,...,...,...,...,...,...,...,...
1631,9.0,NaN,CAL FIRE / Riverside County Fire,Riverside,33,NaN,33.827979,-117.499619,2019-10-10T12:08:00Z
1632,2.0,NaN,CAL FIRE Nevada-Yuba-Placer Unit,Nevada,29,NaN,39.409722,-121.000556,2019-06-28T15:03:04Z
1633,NaN,NaN,Yolo County Fire Protection District,Yolo,57,NaN,38.734634,-121.729691,2019-11-25T12:02:02Z
1634,NaN,NaN,Camp Pendleton Marine Corps Base,San Diego,37,NaN,33.351145,-117.403719,2019-10-22T19:20:44Z
1635,NaN,NaN,Bureau of Indian Affairs,Riverside,33,NaN,33.451480,-116.058980,2019-10-14T15:32:20Z

In [12]:
fire_df.isna().sum()

AcresBurned       3
AirTankers     1608
AdminUnit         0
Counties          0
CountyIds         0
Engines        1445
Latitude          0
Longitude         0
Started           0
dtype: int64

In [13]:
fire_df = fire_df.drop(['AirTankers', 'Engines'], axis=1)

In [14]:
fire_df.head()

,AcresBurned,AdminUnit,Counties,CountyIds,Latitude,Longitude,Started
0,257314.0,Stanislaus National Forest/Yosemite National Park,Tuolumne,55,37.857000,-120.086000,2013-08-17T15:25:00Z
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,Los Angeles,19,34.585595,-118.423176,2013-05-30T15:28:00Z
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,Riverside,33,33.709500,-116.728850,2013-07-15T13:43:00Z
3,27440.0,Tahoe National Forest,Placer,31,39.120000,-120.650000,2013-08-10T16:30:00Z
4,24251.0,Ventura County Fire/CAL FIRE,Ventura,56,0.000000,0.000000,2013-05-02T07:01:00Z

## Rough draft model

In [15]:
import sys
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import classification_report, confusion_matrix

import tensorflow as tf
# from tensorflow import keras
from tensorflow.keras import layers, Sequential, Input
from tensorflow.keras.layers import Dense, Conv2D, MaxPool2D, Flatten, Dropout, concatenate, BatchNormalization
# from tensorflow.keras.layers.core import *
from tensorflow.keras.models import Model
from tensorflow.keras.layers.experimental import preprocessing
# from tensorflow.keras.applications.vgg16 import VGG16, preprocess_input

In [ ]:
model = Sequential([

        layers.Dense(24, activation='relu'),
        layers.Dense(16, activation='relu'),
        layers.Dense(8, activation='relu'),
        layers.Dense(1)
    ])

model.compile(loss='binary_cross_entropy', optimizer=tf.keras.optimizers.Adam(0.0001), metrics=['accuracy'])